<div ng-hide="ac.userAuth" class="navbar-right">

    <label class="label">
        <p class="control">
            <input id="username" type="text" placeholder="email" ng-model="ac.name">
            <input type="password" placeholder="password" ng-model="ac.password">
        </p>
    </label>

    <button class="button is-primary" ng-click="ac.logIn(ac.name, ac.password)">Login</button>
</div>


<table ng-show="ac.userAuth" class="table">
    <thead>
    <tr>
        <th>Account</th>
        <th>Value</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-hide="ac.editName">
        <td>Name</td>
        <td>{{ac.userInfo.name}}</td>
        <td class="table-link table-icon">
            <a ng-click="ac.toggleEditName()">
                edit
                <i class="fa fa-twitter "></i>
            </a>
        </td>
    </tr>
    <tr ng-show="ac.editName">
        <td>Name</td>
        <td><input type="text" ng-model="ac.userInfo.name"></td>
        <td class="table-link table-icon">
            <a ng-click="ac.saveData()">
                Save
                <i class="fa fa-twitter"></i>
            </a>
        </td>
        <td class="table-link table-icon">
            <a ng-click="ac.cancelSave()">Cancel
                <i class="fa fa-twitter"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ac.users[ac.userAuth.auth.uid].email}}</td>
        <td class="table-link table-icon">
            <a href="">
            Save
            <i class="fa fa-twitter "></i>
        </a>
        </td>
    </tr>
    <tr>
        <td>Avatar</td>
        <td>{{ac.users[ac.userAuth.auth.uid].avatar}}</td>
        <td class="table-link table-icon">
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<!--<button ng-click="ac.testAccount()">Test</button>-->