<div>
    <form>
        <label for="title">Title</label>
            <input id="title" type="text" ng-model="wb.blogPost.title" placeholder="Title">

        <label for="project">Project</label>
        <input id="project" type="password" ng-model="wb.blogPost.project" placeholder="project">

        <label for="body">Body</label>
        <textarea name="" id="body" cols="30" rows="10" ng-model="wb.blogPost.post"></textarea>

        <label for="tags">Tags</label>
        <select id="tags" ng-model="wb.tagSelected" ng-options="item as item for item in wb.possibleTags"></select>

        <label for="public">Public</label>
        <input id="public" type="checkbox" ng-model="wb.blogPost.public">

        <label for="hours">Hours</label>
        <input id="hours" type="number">

        <ul>
            <li ng-repeat="tag in wb.blogPost.tags">{{tag}} <span ng-click="wb.removeTag(tag)">x</span></li>
        </ul>

        <button ng-click="wb.addTag(wb.tagSelected)">Add a tag</button>
        <button type="button" ng-click="wb.postToBlog(wb.blogPost)">Post</button>

    </form>

    <h3>{{wb.blogPost.title}}</h3>
    <div btf-markdown="wb.blogPost.post"></div>

    <div ui-view="{{wb.router}}"></div>

    <button ui-sref=".poke" ng-click="wb.router='columnTwo'">Poke</button>
    <button ui-sref=".nopoke" ng-click="wb.router='columnOne'">NoPoke</button>

    <a ui-sref="writeEntry">noke</a>
    <p ui-view></p>

</div>