<div>
    <input id="title" type="text" ng-model="wb.blogPost.title">
    <textarea name="" id="" cols="30" rows="10" ng-model="wb.blogPost.post"></textarea>
    <select ng-model="wb.tagSelected" ng-options="item as item for item in wb.possibleTags">
    </select>
    <input type="checkbox" ng-model="wb.blogPost.public" checked>
    <ul>
        <li ng-repeat="tag in wb.blogPost.tags" ng-click="wb.removeTag(tag)">{{tag}}</li>
    </ul>
    <button ng-click="wb.addTag(wb.tagSelected)">Add a tag</button>
    <button type="button" ng-click="wb.postToBlog(wb.blogPost)">Post</button>
    <h3>{{wb.blogPost.title}}</h3>
    <div btf-markdown="wb.blogPost.post"></div>

    <div ui-view="{{wb.router}}"></div>
    <button ui-sref=".poke" ng-click="wb.router='columnTwo'">Poke</button>
    <button ui-sref=".nopoke" ng-click="wb.router='columnOne'">NoPoke</button>
    <a ui-sref="writeEntry">noke</a>
    <p ui-view></p>
</div>