<div ng-init="">

       <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-item">
                <p class="subtitle is-5">
                    Total Projects: <strong>{{pc.blogProjects.length}}</strong>
                </p>
            </div>
            <div class="navbar-item">
                <p class="control has-addons">
                    <input class="input" type="text" placeholder="Find a project" ng-model="pc.search">
                </p>
            </div>
        </div>
    </nav>

    <h3 class="title is-3">Projects Page</h3>

    <!--<div ng-repeat="project in pc.blogProjects | orderBy:'project.title'">-->
        <!--<div>-->
            <!--<h1 >{{project.title}}</h1>-->
            <!--<h6>Project {{$index}}</h6>-->
            <!--<div btf-markdown="project.description"></div>-->
            <!--<a href="index.html#/project/{{project.$id}}">Link to {{project.title}}</a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="box"  ng-repeat="project in pc.blogProjects | filter: {title:pc.search}">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img ng-src="{{project.picture}}" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <a  href="index.html#/project/{{project.$id}}"><strong>{{project.title}}</strong></a> <small>Created on: {{project.created | date: 'short'}}</small><small> By:{{pc.users[project.author].name}}</small>
                        <br>
                        {{project.description}}
                    </p>
                </div>
                <a href="{{project.repo}}" target="_blank" class="fa fa-github">Repo</a>
                <nav class="navbar">
                    <div class="navbar-left">
                        <a class="navbar-item" href="index.html#/project/{{project.$id}}">
                            <span class="icon is-small"><i class="fa fa-reply"></i></span>
                        </a>
                        <a class="navbar-item">
                            <span class="icon is-small"><i class="fa fa-heart"></i></span>
                        </a>
                    </div>
                </nav>
            </div>
        </article>
    </div>


</div>