<div ng-init="pc.getProject(); pc.getPosts()">
    <h3>{{pc.blogProject.title}}</h3>

    <div>

        <div >
            <p>Project number </p>
            <div btf-markdown="pc.blogProject.description"></div>
            <!--<a href="index.html#/project/{{key}}">See Post</a>-->
            <!--<button ng-click="pc.toggleEdit($index, key)" >Edit</button>-->
            <!--<button ng-click="pc.deletePost(key)">Delete</button>-->
            <button ng-click>Write a post</button>
        </div>
        <!--ng-show="sc.editmode[$index]"-->

        <div ng-repeat="post in pc.blogPosts | orderBy:'val.title'">
            <div ng-hide="pc.editmode[$index]">
            <p>Blog Post {{$index}}</p>
            <p >{{post.val.title}}</p>
            <div btf-markdown="post.val.post"></div>
            <button ng-click="pc.toggleEdit($index, post.key)" >Edit</button>
            <button ng-click="pc.deletePost(post.key)">Delete</button>
            </div>

            <div  ng-show="pc.editmode[$index]">
            <p>Blog Edit Post {{$index}}</p>
            <input  ng-model="post.val.title"><br><br>
            <textarea  ng-model="post.val.post"></textarea><br>
            <button ng-click="pc.toggleEdit($index, post.key, true)">Finish</button>
            <button ng-click="pc.toggleEdit($index, post.key)">Cancel</button>
            </div>
        </div>

    </div>
</div>
