<div id="projectModal" class="modal">
    <div class="modal-background" ng-click="pc.toggleModal()"></div>
    <div class="modal-container">
        <div class="modal-content">
            <a class="button is-danger is-outlined is-large">
              <span class="icon">
                <i class="fa fa-check"></i>
              </span>
                <span>Sorry you can't delete yet!!</span>
            </a>
        </div>
    </div>
    <button class="modal-close" ng-click="pc.toggleModal()"></button>
</div>