<div>
    <h3 ng-init="sc.allUserPosts()" >Welcome to Neal's Dev Blog</h3>

    <input  type="text" ng-model="sc.testFire" ng-change="sc.testChange()">
    <h4>Data: {{ sc.testFire }}</h4>
    <h4>Data Id: {{ sc.returnTest().$id }}</h4>
    <h4>Data Value: {{ sc.testFire.$value }}</h4>

    <div ng-repeat="(key,value) in sc.posts">

        <div ng-hide="sc.editmode[$index]">
            <p>Blog Post {{$index}}</p>
            <p >{{value.title}}</p>
            <p>{{value.post}}</p>
            <button ng-click="sc.toggleEdit($index)" >Edit</button>
            <button ng-click="sc.deletePost(key)">Delete</button>
        </div>

        <div  ng-show="sc.editmode[$index]">
            <p>Blog Edit Post {{$index}}</p>
            <input  ng-model="value.title">
            <input  ng-model="value.post">
            <button ng-click="sc.toggleEdit($index)">Finish</button>
        </div>

        <!--<div  ng-show="sc.editmode[$index]">-->
                <!--<p>Blog Post {{$index}}</p>-->
                <!--<p contenteditable="true" ng-model="value.title"></p>-->
                <!--<p contenteditable="true" ng-model="value.post">{{value.post}}</p>-->
                <!--<button ng-click="sc.toggleEdit($index)">Finish</button>-->
        <!--</div>-->

    </div>
</div>
